<html lang="en">
   <head>
     <title>UMammoth | Welcome</title>
     <script type="text/javascript" src="/static/js/jquery.min.js"></script>
     <script type="text/javascript" src="/static/js/jquery-ui-min.js"></script>
     <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" type="text/css" href="/static/css/umammoth.css" />
   </head>
   <body>
     <div class="navbar navbar-inverse">
       <div class="navbar-inner">
	 <div class="container">
	   <a href="#" class="brand">UMammoth</a>
	   
	 </div>
       </div>
     
       <div class="container-fluid">
	 <div class="row-fluid">
	   <div class="span10">
	     <section style="margin-top:20px;text-align:center;" class="hero-unit">
	       <img src="/static/images/mammoth.png" />
	       <p>Welcome to UMammoth. There's not much to do here yet, but if you can admin, login below</p>
	       <a href="/admin/" class="btn btn-primary btn-large">Login</a>
	     </section>
	   </div>
	 </div>
       </div>
     </body>
   </html>
